@using ThuongMaiDienTu.Helper;

@using ThuongMaiDienTu.Models;

@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc;
@using X.PagedList;
@model X.PagedList.PagedList<ProductAPIModal>


@{
    ViewBag.Title = "Danh mục sản phẩm";
    string id = (string)ViewBag.Id;

}

<hr class="offset-lg">

<div class="products">
    <div class="row" id="dataReturn">

        @using (THUONGMAIDIENTUEntities db = new THUONGMAIDIENTUEntities())
        {
            //var price = db.PRODUCTs.Where(x=>x.ProductPrice ==  Model.Min(y=>y.ProductPrice) || x.ProductPrice == Model.Max(z=>z.ProductPrice));
            foreach (var product in Model)
            {
                string link = "/" + RemoveVietnamese.RemoveSign4VietnameseString(@product.nameProduct).Replace(" ", "-") + "-" + product.idProduct;


                <div class="col-sm-6 col-md-4 product system">
                    <div class="body">
                        <a href="#favorites" class="favorites" data-favorite="inactive"><i class="ion-ios-heart-outline"></i></a>
                        <a href="@link">
                            <div style="height:350px; align-items:center; justify-content:center; align-self:center">
                                <img src="~/img/product/@product.PRODUCT_IMG" alt="Apple iMac 27 Retina" />
                            </div>
                        </a>
                        <div class="content">
                            <h1 class="h3">@product.nameProduct</h1>
                            <div class="price" data-price="@product.priceProduct">$@String.Format("{0:0,0}", product.priceProduct)</div>

                            <button class="btn btn-primary btn-sm rounded" onclick="AddCart(@product.idProduct)">  <i class="ion-bag"></i> Add to cart</button>
                        </div>
                    </div>
                </div>
            }
        }



    </div>
</div>

<nav>

   
        Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) /@Model.PageCount;
    <div class="pageList" style="display:inline" id="myPager">

        @if (Model.PageCount>0)
        {
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("FilterByPriceA", "Category",
               new
               {

                   val=ViewBag.val,
                   page = page,
                   cate = ViewBag.cate,
                   timkiem=ViewBag.timkiem

                }),
               new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }

               })
        }
    </div>
    
</nav>
<script>
    $(function () {
        $('#myPager').on('click', 'a', function () {

            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#resultprice').html(result);
                }
            });
            //debugger;
            return false;
        });
    });
</script>